h2 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: 500;
}

.form-control {
  border: 5px solid darkred;
  border-radius: 15px;
  background-color: #e8f0fe;
}

.form-control:focus {
  background-color: #e8f0fe;
}

select.form-control:focus::-ms-value {
  background-color: #e8f0fe;
}

.btn {
  border: 5px solid darkred;
  border-radius: 15px;
  background-color: #ffe1ba;
  margin: auto;
  margin-top: 1%;
  display: block;
}

.box {
  border: 5px solid darkred;
  border-radius: 15px;
  background-color: burlywood;
  padding: 4%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  background-color: burlywood;
  color: black;
}